@font-face {
  font-family: "Helvetica regular";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/helvetica-regular.woff2") format("woff2"),
    url("../fonts/helvetica-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat Bold";
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat Regular";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto thin";
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"),
    url("../fonts/Roboto-Thin.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(04,04,05, 0.5);
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 708px;
}

.header {
  height: 100vh;
  background-color: #374863;
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  padding-top: 40px;
  margin-bottom: 125px;
}

.header__nav {
  padding-top: 50px;
  width: 450px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__item {
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 7px;
  text-transform: uppercase;
}

.nav__item a {
  color: #ffffff;
  text-decoration: none;
}

.nav__item a:hover,
.nav__item a:focus {
  color: #ffe26d;
}

.slider-card {
  display: none;
  min-height: 300px;
}

.slider-card__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 41px;
  line-height: 46px;
  font-weight: bold;
  color: #ffffff;
}

.slider-card__description {
  margin: 0;
  margin-bottom: 35px;
  padding-right: 130px;
  font-family: "Roboto thin", Arial, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 100;
  color: #ffffff;
}

.btn {
  padding: 15px 25px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  background-color: #ffe26d;
  border-radius: 3px;
  color: #323232;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 7px;
}

.btn:hover,
.btn:focus {
  background-color: #62497c;
  color: #fff;
}

#quote-1:checked ~ .header__slider-list .slider-card:nth-child(1),
#quote-2:checked ~ .header__slider-list .slider-card:nth-child(2),
#quote-3:checked ~ .header__slider-list .slider-card:nth-child(3),
#quote-4:checked ~ .header__slider-list .slider-card:nth-child(4) {
  display: block;
}

.header__slider-controls {
  order: 1;
}

.header__slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 11vh;
}

.header__slider-controls label {
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #a99a9f;
  border-radius: 50%;

  cursor: pointer;
}

#quote-1:checked ~ .header__slider-controls label:nth-child(1),
#quote-2:checked ~ .header__slider-controls label:nth-child(2),
#quote-3:checked ~ .header__slider-controls label:nth-child(3),
#quote-4:checked ~ .header__slider-controls label:nth-child(4) {
  background-color: #fff;
}

.welcome__title {
  margin-top: 55px;
  margin-bottom: 50px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 41px;
  line-height: 41px;
  font-weight: bold;
  text-align: center;
  color: #040405;
}

.welcome__description {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 70px;
  font-family: "Roboto thin", Arial, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: #040405;
  padding-right: 260px;
  background-image: url("../img/umbrella.svg");
  background-repeat: no-repeat;
  background-position: 510px 0;

}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 3px solid #e7e7e7;
}

.features-list__item {
  margin-bottom: 55px;
  position: relative;
  width: 165px;
  text-align: center;
}

.features-list__item::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-40px);
  width: 80px;
  height: 80px;
  background-color: #62497c;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.features-list__item--lorem::before {
  background-image: url(../img/bell.svg);
}

.features-list__item--dolor::before {
  background-image: url(../img/envelop.svg);
}

.features-list__item--consecteture::before {
  background-image: url(../img/drawer.svg);
}

.features-list__title {
  margin: 0;
  padding-top: 110px;
  padding-bottom: 20px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 15px;
  line-height: 41px;
  color: #62497c;
  text-transform: uppercase;
}

.features-list__description {
  margin: 0;
  padding-bottom: 35px;
  font-style: 14px;
  line-height: 24px;
  color:rgba(4,4,5,0.33);
}

.projects {
  margin-bottom: 80px;
}

.projects__title {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 50px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  color: #040405;
  font-size: 45px;
  line-height: 41px;
  text-align: center;
}

.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects__item {
  width: 25%;
}

.projects__card {
  background-color: #efefef;
  padding-bottom: 40px;
  text-align: center;
}

.projects__card:hover,
.projects__card:focus {
  background-color: #ffe26d;
}

.project-card__preview {
  padding-bottom: 10px;
}

.project-card__title {
  margin: 0;
  padding-left: 43px;
  padding-right: 35px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 15px;
  line-height: 41px;
  text-transform: uppercase;
}

.project-card__description {
  margin: 0;
  padding-left: 43px;
  padding-right: 35px;
  padding-bottom: 20px;
}

.project-card__btn {
  margin-left: 43px;
  background-color: #fefefe;
}

.price {
  text-align: center;
  margin-bottom: 87px;
}

.price__title {
  margin: 0;
  margin-bottom: 50px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  color: #040405;
  font-size: 45px;
  line-height: 41px;
}

.tariffs-table {
  margin: 0 auto;
  width: 634px;
}

.tariffs-table th {
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 15px;
  line-height: 41px;
  text-transform: uppercase;
  color: #040405;
}

.tariffs-table tr {
  color: #040405;
  font-size: 11px;
  line-height: 22px;
}

.tariffs-table tr:nth-child(2) {
  font-family: "Montserrat Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 7px;
  color: rgba(4,4,5,0.39);
}

.tariffs-table tr:nth-child(6) td {
  padding-bottom: 24px;
}

.video {
  background-color: #62497c;
  text-align: center;
}

.video__title {
  margin: 0;
  padding-top: 87px;
  padding-bottom: 41px;
  color: #fefefe;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 41px;
}

.video__list {
  white-space: nowrap;
  width: 100%;
  overflow: scroll;
}

.video__list li {
  position: relative;
  display: inline-block;
  margin-right: 36px;
  opacity: 0.9;
  vertical-align: top;
}

.video__list li:focus,
.video__list li:hover {
  opacity: 1;
}

.video__list li::before {
  content: '';
  position: absolute;
  top: 170px;
  left: 285px;
  width: 121px;
  height: 121px;
  background-image: url("../img/play-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.video__list img {
  display: block;
  padding-bottom: 23px;
}

.video__wrapper {
  max-width: 100%;
  overflow: hidden;
}

.video__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fefefe;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  padding-bottom: 116px;
}

.video__details span:first-child {
  max-width: 300px;
  overflow: hidden;

}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color:#ffcb17;
  box-shadow:0px 1px 1px #fff inset;
  background-position:center;
  background-repeat:no-repeat;
}

::-webkit-scrollbar-thumb:hover {
  background-color:#ffcb57;
}

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:7px;
  height:0px
}

::-webkit-scrollbar{
  width: 5px;
  height: 7px;
}


::-webkit-scrollbar-thumb:horizontal {
  height: 12px;
}

.team {
  text-align: center;
}

.team__title {
  margin: 0;
  padding-top: 76px;
  padding-bottom: 44px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 41px;
  color: #040405;
}

.team__social {
  display: none;
}

.team__list {
  margin: 0;
  padding: 0;
  padding-bottom: 136px;
  display: grid;
  grid-template-columns: 173px 173px 173px;
  grid-column-gap: 88px;
  grid-row-gap: 64px;
  list-style: none;
}

.team__worker {
  position: relative;
}

.team__worker span {
  display: block;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #040405;
}

.team__worker:hover > .team__social,
.team__worker:focus > .team__social {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 173px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #66537d;
  opacity: 0.8;
}

.team__worker img {
  padding-bottom: 30px;
}

.team__worker-name {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.team__worker-position {
  opacity: 0.39;
}

.social__item svg {
  fill: #faefe9;
}

.social__item svg:hover {
  opacity: 0.8;
}

.social__list {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social__item--fb {
  margin-left: 22px;
}

.social__item--google {
  margin-right: 22px;
}

.life {
  background-color: #efefef;
  text-align: center;
}

.life__title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 39px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 41px;
  color: #040405;
}

.life_wrapper {
  padding-bottom: 109px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.life_wrapper > img {
  margin-bottom: 13px;
}

.life_wrapper  img {
  display: block;
}

.life__btn {
  width: 31px;
  height: 69px;
  border: none;
  background-color: #62497c;
  background-image: url("../img/left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.life__btn--no-photo {
  background-color: #2a2a2a;
}

.life__btn--right {
  background-image: url("../img/right-arrow.svg");
}

.life__gallery {
  margin: 0 13px;
  padding: 0;
  list-style: none;
  width: 606px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 0;
}

.life__gallery li {
  display: inline-block;
  padding-left: 13px;
}

.life__gallery li:first-child {
  padding-left: 0;
}

.sing-in {
  background-color: #d9ced4;
  background-image: url("../img/sing-in-bcg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  text-align: center;
}

.sing-in__title {
  margin: 0;
  padding-top: 56px;
  padding-bottom: 29px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.sing-in__form input {
  width: 414px;
  box-sizing: border-box;
  border: none;
  height: 55px;
  color: #040405;
  font-size: 19px;
  font-weight: 400;
  line-height: 41px;
  vertical-align: middle;
  padding: 0 15px;
}

.sing-in__form input::placeholder {
  color: #d8d8d8;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sing-in__form button {
  margin-left: 414px;
  min-width: 132px;
  box-sizing: border-box;
  border: none;
  background-color: #62497c;
  padding: 24px 0;
  color: #fefefe;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 7px;
  vertical-align: middle;
}

.sing-in__form button:hover,
.sing-in__form button:focus {
  background-color: #ffe26d;
  color: #fefefe;
  color: #323232;
}

.sing-in__form button[type="submit"] {
  margin-left: 0;
  background-color: #ffe26d;
  color: #323232;
  }

.sing-in__form button[type="submit"]:hover,
.sing-in__form button[type="submit"]:focus {
  background-color: #62497c;
  color: #fefefe;
}

.sing-in__form div {
  font-size: 0;
  margin-bottom: 22px;
}

.sing-in__form {
  padding-bottom: 68px;
}

.blog {
  text-align: center;
}

.blog__title {
  margin: 0;
  padding-top: 72px;
  padding-bottom: 53px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 41px;
  color: #040405;
}

.blog__list {
  list-style: none;
  display: grid;
  grid-template-columns: 210px 210px 210px;
  grid-gap: 34px;
}

.blog__list img {
  display: block;
  padding-bottom: 35px;
}

.blog__list h3 {
  margin: 0;
  padding-bottom: 24px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  color: #040405;
}

.blog__list time {
  display: block;
  padding-bottom: 25px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}

.blog__list p {
  margin: 0;
  padding-bottom: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #040405;
}

.blog__list a {
  display: block;
  box-sizing: border-box;
  width: 124px;
  margin: 0 auto;
}
